<template>
  <div class="evntCard_wrapper text-center">
    <h3 class="eventCard_ttl">
      {{ title }}
    </h3>
    <div class="eventCard_cntnt">
      <h6 class="text-center">
        {{ place }}
      </h6>
      <h6 class="text-center mt-5">
        {{ date }}
      </h6>
      <p class="mt-5">
        <a :href="url" target="_blank">Know more</a>
      </p>
    </div>
  </div>
</template>

<script>

export default {
  components: {
    
  },

  props: {
    title: {
      type: String,
      default: ''
    },
    place: {
      type: String,
      default: ''
    },
    date: {
      type: String,
      default: ''
    },
    url: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss">
    .evntCard_wrapper{
        width: 200px;
        background-color: $charcoal-black;
        flex: 1 0.4 auto;
        margin: 10px;
        margin-bottom: 4rem;
        padding: 1% 1%;
        color: $white;
        box-shadow: $box-shadow;
        border-radius: 10px;

        h3{
            background-color: $afrost-blue;
            padding: 2%;
            width: 200px;
            border-radius: 10px;
            margin: auto;
            line-height: 3;
            transform: translateY(-70%);
            font-weight: 500;
            box-shadow: $box-shadow;
        }
    }

    .eventCard_cntnt{
        a {
            text-decoration: none;
            color: $afrost-blue;
            background-color: transparent;
            margin-top: 10px;
        }

        h6{
            font-size: calc(18px + 0.5vmin);
            font-weight: 400;
        }
    }

    @media screen and (max-width: 768px) {
        .evntCard_wrapper{
          width: 190px;
        }
    }
</style>
