<template>
  <div class="PageHeader text-center">
    <h1>{{ title }}</h1>
  </div>
</template>

<script>

export default {
  props: {
    title: {
      type: String,
      default: ''
    }
  },
  data () {
    return {}
  }
}

</script>

<style scoped lang="scss">
    .PageHeader{
        display: block;
        width: 100%;
        margin: 2rem auto;

        h1 {
            font-size: calc(14px + 3vw);
            color: $afrost-blue;
        }
    }
</style>
