<template>
  <div class="v_cardWrapper">
    <div class="v_cardItem">
      <img :src="getImgUrl(logo)" class="img-fluid">
    </div>
    <h1>
      {{ title }}
    </h1>
    <p>
      {{ content }}
    </p>
  </div>
</template>

<script>

export default {

  props: {
    title: {
      type: String,
      default: ''
    },
    content: {
      type: String,
      default: ''
    },
    logo: {
      type: String,
      default: ''
    }
  },

  data () {
    return {}
  },

  methods: {
    getImgUrl (imageName) {
      if (imageName !== '') {
        const images = require.context('../../assets/img', false, /\.png$/)
        return images('./' + imageName)
      }
    }
  }
}

</script>

<style lang="scss">

    .v_cardWrapper {
        box-shadow: $box-shadow;
        width: 25%;
        padding: 0.8rem;
        border-radius: 10px;
        text-align: center;
        margin: 10px;

        h1{
            color: $afrost-blue;
            margin: 15px;
            font-size: calc(14px + 1vw);
        }
    }

</style>
