<template>
  <div class="membership_wrapper">
    <PageHeader :title="title" />
    <div class="mmbrshp_WhyWrapper">
      <div class="mmbrshp_WhyImg">
        <img src="~/assets/img/member.png" class="img-fluid">
        <!-- <p>
          Why one should become a Member?
        </p> -->
      </div>
      <!-- temporarily removed cards in members page -->
      <!-- <div class="mmbrshp_WhyCrd">
        <template v-for="(data, i) in cardData">
          <VisionCard :key="i" :title="data.title" :content="data.content" :logo="data.logo" />
        </template>
      </div> -->
    </div>
    <!-- temporarily removed become member button -->
    <!-- <div class="btn text-center m-auto bcm_member-btn">
      Become Member
    </div> -->
  </div>
</template>

<script>

import PageHeader from '~/components/Shared/PageHeader'
// import VisionCard from '~/components/Shared/VisionCard'
import MembershipCardData from '~/data/MembershipCardData.json'

export default {
  components: {
    PageHeader
    // VisionCard
  },

  data () {
    return {
      title: 'Membership - Coming Soon',
      cardData: MembershipCardData
    }
  }
}
</script>

<style lang="scss">
    .membership_wrapper{
      width: 90%;
      margin: auto auto 2% auto;

      .mmbrshp_WhyWrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
      }

      .mmbrshp_WhyImg{
        width: 40%;

        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        padding-right: 16px;

          p {
          text-align: center;
          word-break: break-word;
          font-size: calc(14px + 3vmin);
          font-weight: 700;
          color: $afrost-blue;
        }
      }

      .mmbrshp_WhyCrd{
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .v_cardWrapper{
          width: 45%;
          box-shadow: none;
          display: flex;
          flex-wrap: wrap;
          text-align: left;
          align-items: center;
          justify-content: flex-start;

          .v_cardItem {
            text-align: left;
          }

          h1{
            
            display: inline-block;
            font-size: calc(14px + 1vmin);
            margin: 0px;
            color: $afrost-green;
          }

          p{
            font-size: calc(14px + 0.5vmin);
            line-height: $line-height;
          }
        }
      }

      .bcm_member-btn{
        background-color: $afrost-blue;
        color: $white;
        margin-top: 16px;
      }

      .btn{
        cursor: pointer;
      }

      @media (max-width: 1115px) {
          .mmbrshp_WhyWrapper{
            flex-direction: column;
            width: 100%;

            .mmbrshp_WhyImg{
              width: 60%;
              margin: auto;
              padding: 0;
            }
          }

          .mmbrshp_WhyCrd{
            width: 100%;
          }
      }

      @media (max-width: 528px){

        .mmbrshp_WhyWrapper{
            .mmbrshp_WhyImg{
              width: 100%;
              margin: auto;
              text-align: center;
            }
          }

          .mmbrshp_WhyImg{
            p {
              text-align: center;
            }
          }

        .mmbrshp_WhyCrd .v_cardWrapper{
          width: 100%;
        }

        .bcm_member-btn{
          margin-bottom: 16px;
        }
      }
    }
</style>
