<template>
  <div class="membrs_wrapper">
    <div class="membrs_ttl text-center">
      <img class="img-fluid" src="~/assets/img/members.png">
      <h1 class="text-center ttl-heading">
        Our Members
      </h1>
    </div>

    <div class="members_lists">
      <div v-for="(image, index) in membersList" :key="index" class="members_list">
        <img class="img-fluid" :src="image.url">
      </div>
    </div>
  </div>
</template>

<script>

import MembersData from '~/data/MembersData.json'

export default {
  components: {
    
  },

  data () {
    return {
      membersList: MembersData
    }
  }
}
</script>

<style lang="scss">

    .membrs_wrapper{
        width: 100%;
        height: 500px;
        padding: 2%;

    .members_lists{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: 10px;

      .members_list{
        width: 15%;
        margin: 10px;
      }
        
    }

    .ttl-heading{
      transform: translateY(-120%);
      color: $afrost-blue;
      font-weight: 500;
    }

    @media (max-width: 768px) {
      .members_lists .members_list{
        width: 15%;
      }
    }

    @media (max-width: 646px) {
      .members_lists .members_list{
        width: 20%;
      }
    }

    @media (max-width: 425px) {
      .members_lists .members_list{
        width: 25%;
      }
    }
  }

</style>
