<template>
  <div class="cmpltdEvnt_wrapper">
    <div class="cmpltdEvnt_cntnt">
      <div class="cmpltdEvnt_ttl text-center">
        <img class="img-fluid" src="~/assets/img/completed.png">
        <h1 class="text-center ttl-heading">
          Compeleted Events
        </h1>
      </div>
    </div>
    <div class="cmpltdEvnt_cards">
      <template v-for="(compeletedEvent, i) in compeletedEvents">
        <EventCard :key="i" :title="compeletedEvent.title" :place="compeletedEvent.place" :date="compeletedEvent.date" :url="compeletedEvent.url" />
      </template>
    </div>
  </div>
</template>

<script>

import EventCard from '~/components/Shared/EventCard'
import CompeletedEventData from '~/data/CompeletedEventData.json'

export default {
  components: {
    EventCard
  },

  data () {
    return {
      compeletedEvents: CompeletedEventData
    }
  }
}

</script>

<style lang="scss">

    .cmpltdEvnt_wrapper{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .cmpltdEvnt_cntnt {
            margin: 2rem auto ;
            h1{
                color: $afrost-blue;
                font-size: calc(16px + 3vmin);
            }
        }

        .cmpltdEvnt_cards{
            width: 100%;
            margin: 4rem auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .evntCard_wrapper{
                width: 25%;
                max-width: 30%;
                background-color: $white;

                h3{
                    background-color: $charcoal-black;
                }
            }

            .eventCard_cntnt{
                h6{
                    color: $charcoal-black;
                    font-size: calc(16px + 0.5vmin);
                }
            }
        }

        .ttl-heading{
            transform: translateY(-120%);
            color: $afrost-blue;
            font-weight: 500;
        }

        @media (max-width: 768px) {
            .cmpltdEvnt_cards .evntCard_wrapper{
                width: 33.3%;
                max-width: 45%;
            }
        }

        @media (max-width: 510px) {
            .cmpltdEvnt_cards .evntCard_wrapper{
                width: 100%;
                max-width: initial;
            }
            .cmpltdEvnt_cards{
              justify-content: center;
            }
        }
    }

</style>
