<template>
  <div class="footer_wrapper text-center">
    <div class="footers_ttl text-center">
      <img class="img-fluid" src="~/assets/img/letstalk.png">
      <h1 class="text-center ttl-heading ttl_heading-color">
        Contact Us
      </h1>
    </div>
    <!-- Calendly inline widget begin -->
    <div class="calendly-inline-widget" data-url="https://calendly.com/afrostorg?primary_color=1fdb84" style="min-width:320px;height:660px;" />
    <!-- Calendly inline widget end -->
  </div>
</template>

<script>

export default {
  name: 'ContactForm',
  mounted () {
    const recaptchaScript = document.createElement('script')
    recaptchaScript.setAttribute('src', 'https://assets.calendly.com/assets/external/widget.js')
    document.head.appendChild(recaptchaScript)
  }
}
</script>

<style scoped lang="scss">

</style>
