<template>
  <div class="main_wrapper af-flex af-column">
    <div class="main_content af-flex af-column">
      <div class="main_content-title_wrapper">
        <p class="main_content-title">
          {{ title }}
        </p>
        <p class="main_content-secondary_title">
          {{ secondaryTitle }}
        </p>
      </div>
      <div class="subscribe_input">
        <input v-model="subscribeValue" type="text" placeholder="Enter Your Email..." name="search">
        <button type="submit" class="btn btn-subscribe">
          Join Us
        </button>
      </div>
    </div>
    <!-- <div class="subscribe_block .af-flex">
      <h1>Be a part of Team</h1>
      <div class="subscribe_input">
        <input v-model="subscribeValue" type="text" placeholder="Enter Your Email..." name="search">
        
        <button type="submit" class="btn btn-subscribe">
          Subscribe
        </button>
      </div>
    </div> -->
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'Creating India’s  future Open Source leaders by nurturing talent, building communities and forging partnerships.',
      secondaryTitle: 'Learn - Connect - Mentor',
      subscribeValue: ''
    }
  }
}
</script>

/*
* Scoped styles for homepage Intro Section
*/

<style scoped lang="scss">
    .main_wrapper{
      height: 90vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: url('../../assets/img/banner.png');
    }
    .main_content {
      justify-content: center;
      align-items: flex-start;
      width: 90%;
      margin: 0 auto;
    }
    .main_content-title{
      color: $light-grey;
      font-size: 32px;
      line-height: 1.2;

      max-width: 50%;
      word-break: break-word;
    }
    .main_content-secondary_title{
      color: $light-grey;
      font-weight: lighter;
      font-size: 24px;
      margin: -8px 0 0 0;

      max-width: 50%;
      word-break: break-word;
    }
    .main_content-title_wrapper{
      width: 100%;
      margin-bottom: 20px;
    }

    /* .subscribe_block{
        display: flex;
        flex-wrap: wrap;
        background-color: $charcoal-black;
        color: $white;
        height: auto;
        padding: 20px;
        justify-content: space-around;
        align-items: center;
        text-align: left;
    }

    .subscribe_block input[type=text] {
        padding: 6px 15px;
        font-size: 17px;
        border: none;
        background-color: $black;
        border-radius: 5px 0px 0px 5px;
        float: left;
        width: 70%;
        line-height: 2.2;
        color: $white;
        outline: none;
    } */

    .subscribe_input{
      width: 30%;
    }

    .subscribe_input input[type=text] {
        padding: 6px 15px;
        font-size: 17px;
        border: none;
        background-color: $black;
        border-radius: 5px 0px 0px 5px;
        float: left;
        width: 70%;
        line-height: 2.2;
        color: $white;
        outline: none;
    }

    .btn-subscribe{
        float: left;
        width: 30%;
        color: white;
        border-radius: 0px 5px 5px 0px;
        border-left: none;
        cursor: pointer;
    }

    @media (max-width: 2560px){
      .main_content-title{
        font-size: 36px;
      }
      .main_content-secondary_title{
        font-size: 26px;
      }
    }
    @media (max-width: 1540px){
      .main_content-title{
        font-size: 32px;
      }
    }
    @media (max-width: 1024px){
      .main_content-title_wrapper{
        width: 80%;
      }
      .main_content-title{
        max-width: 70%;
        font-size: 28px;
      }
      .main_content-secondary_title{
        max-width: 60%;
        font-size: 20px;
      }
      .subscribe_input{
        width: 60%;
      }
    }
    @media (max-width: 600px){
      .main_content-title_wrapper{
        width: 80%;
      }
      .main_content-title{
        max-width: 80%;
        font-size: 22px;
      }
      .main_content-secondary_title{
        max-width: 70%;
        font-size: 18px;
      }

      .subscribe_input input[type=text] {
        font-size: 14px;
      }

      .btn-subscribe{
        font-size: 14px;
        cursor: pointer;
      }

      .subscribe_input{
        width: initial;
      }
    }
</style>
