<template>
  <div class="aboutus_wrapper">
    <PageHeader :title="titleValue" />

    <div class="abtCntnt_wrapper">
      <div class="abt_Cntnt">
        <p>
          Afrost (Association for Promotion of Free and Open-Source Technologies) was born out of the need create India's future leaders in Free & Open Source Softare by supporting and sustaining the communities and their culture.
        </p>
        <p>
          We are a group of FOSS enthusiasts who have gained a lot from living and learning in these communities. Afrost is our way of giving back and helping to sustain and grow such communities.
        </p>
        <!-- <p>
          Be it a small users group meeting to large conferences we can help you with managing finances to helping you getting logistical help.
        </p> -->
        <p>
          You may be an individual trying to build new skills, enthusiasts who want to organise a small community meet up or a team organising workshops and conferences, the Afrost team can help.
        </p>
        <ul class="abtCntnt_lists">
          <li v-for="(list, index) in ListContent" :key="index">
            {{ list.text }}
          </li>
        </ul>
      </div>
      <div class="abt_Img text-center">
        <img class="img-fluid" src="~/assets/img/about-img.png">
      </div>
    </div>
  </div>
</template>

<script>

import PageHeader from '~/components/Shared/PageHeader'
import AboutUsList from '~/data/AboutUsList.json'

export default {

  components: {
    PageHeader
  },

  data () {
    return {
      titleValue: 'About Us',
      ListContent: AboutUsList
    }
  }
}

</script>

<style lang="scss" scoped>
    .aboutus_wrapper{
        width: 100%;
        /* padding: 0 3rem; */
    }

    .abtCntnt_wrapper{
        width: 90%;
        margin: auto;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        align-items: center;
        justify-content: center;

        .abt_Cntnt p {
            color: $charcoal-black;
            line-height: 2;
        }
    }

    .abtCntnt_lists li {
        margin: 0.6rem auto;
    }

    @media screen and (max-width: 1023px) {
        .abtCntnt_wrapper{
            grid-template-columns: auto;
        }
    }
</style>
