<template>
  <div class="team_wrapper">
    <div class="team_heading text-center">
      <img class="img-fluid" src="~/assets/img/our-team.png">
      <h1 class="text-center team-ttl">
        Team
      </h1>
    </div>

    <div class="teamMembers_wrapper">
      <template v-for="(team, index) in teamMembers">
        <TeamCard :key="index" :img="team.img" :name="team.name" :role="team.role" />
      </template>
    </div>
  </div>
</template>

<script>

import TeamCard from '~/components/Aboutus/TeamCard'
import TeamList from '~/data/TeamList.json'

export default {
  components: {
    TeamCard
  },
  data () {
    return {
      teamMembers: TeamList
    }
  }
}

</script>

<style lang="scss">
    .team_wrapper{
        width: 100%;
        background-image: url('../../assets/img/team-bg.png');
        margin: 1.5rem auto;
        background-size: cover;
        background-position: center;
        height: auto;
        padding-bottom: 2rem;

        h1 {
            transform: translateY(-120%);
            color: $afrost-green;
            font-weight: 500;
        }
    }

    .teamMembers_wrapper{
        width: 90%;
        margin: auto;
        margin-bottom: 4rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

</style>
