/* eslint-disable vue/html-self-closing */
<template>
  <v-app class="layout_wrapper">
    <v-app-bar height="80" fixed app color="primary">
      <div class="logo">
        <a href="/"><img src="~/assets/img/afrost-logo.svg" alt="Afrost">afrost</a>
      </div>
      <v-spacer />
      
      <ul class="navlinks">
        <li v-for="(navitem, index) in navlink" :key="index">
          <a :href="navitem.url">{{ navitem.content }}</a>
        </li>
      </ul>
      <v-btn icon class="hide" color="secondary" @click.stop="rightDrawer = !rightDrawer">
        <v-icon>mdi-menu</v-icon>
      </v-btn>
    </v-app-bar>

    <v-content class="layout_content">
      <nuxt />
    </v-content>

    <v-navigation-drawer v-model="rightDrawer" color="primary" :right="right" temporary fixed>
      <v-list class="sidenav_list">
        <div class="logo">
          <a href="/"><img src="~/assets/img/afrost-logo.svg" alt="Afrost">afrost</a>
        </div>
        <v-list-item v-for="(navitem, index) in navlink" :key="index" class="sideLinks" @click.native="right = right">
          <a class="side_links" :href="navitem.url">{{ navitem.content }}</a>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <ContactForm />

    <Footer />
  </v-app>
</template>

<script>

import navlinks from '../data/navlinks.json'
import ContactForm from '../components/Home/ContactForm'
import Footer from './footer'

export default {

  components: {
    ContactForm, Footer
  },

  data () {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      miniVariant: false,
      right: true,
      rightDrawer: false,
      navlink: navlinks
    }
  },
  method () {

  }
}
</script>

/*
* Scoped Styles only for this component
*/

<style scoped lang="scss">

  .logo a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: white;
    text-decoration: none;

    img{
      padding-right: 8px;
      width: 60px;
      height: auto;
    }
  }

  .footer_wrapper{
    padding: 2%;
  }

  .btn_footer-submit{
    margin: 20px;
  }

  .navlinks{
    list-style: none;
    float: left;
    
    li{
      float: left;
      padding: 40px;

     a{
       color: $afrost-green;
       text-decoration: none;
     }
    }
  }

  .sideLinks{
    padding: 10px;
    text-align: center;
  }

  .side_links{
    color: $afrost-green;
    text-decoration: none;
    text-align: center;
  }

  .sidenav_list{
    text-align: center;
    padding: 20px;
  }

  @media screen and (min-width: 1300px){
    .hide{
      display: none;
    }
  }

  @media screen and (max-width: 1300px){
    .navlinks{
      display: none
    }
  }
</style>
