<template>
  <v-layout column justify-center align-center>
    <Intro />
    <CompeletedEvents />
  </v-layout>
</template>

<script>

import Intro from '~/components/Events/Intro'
// import CompeletedEvents from '~/components/Events/CompeletedEvents'

export default {
  components: {
    Intro
    // CompeletedEvents
  },
  head () {
    return {
      title: 'Events',
      meta: [
        { name: 'description', content: '' },
        { name: 'content', content: '' }
      ]
    }
  }
}
</script>
