<template>
  <v-layout column justify-center align-center>
    <Intro />
    <!-- testimonials commented out for now -->
    <!-- <Testimonials /> -->
    <Events />
    <!-- blogs commented out for now -->
    <!-- <Blog /> -->
    <!-- <Members /> -->
  </v-layout>
</template>

<script>

import Intro from '~/components/Home/Intro.vue'
// import Testimonials from '~/components/Home/Testimonials.vue'
import Events from '~/components/Home/Events'
// import Blog from '~/components/Home/Blog'
// import Members from '~/components/Shared/Members'

export default {
  components: {
    Intro,
    // Testimonials,
    Events
    // Blog
    // Members
  },
  head () {
    return {
      title: 'Home',
      meta: [
        { name: 'description', content: '' },
        { name: 'content', content: '' }
      ]
    }
  }
}
</script>
