<template>
  <v-layout column justify-center align-center>
    <Intro />
  </v-layout>
</template>

<script>

import Intro from '~/components/Services/Intro'

export default {
  components: {
    Intro
  },
  head () {
    return {
      title: 'Services',
      meta: [
        { name: 'description', content: '' },
        { name: 'content', content: '' }
      ]
    }
  }
}
</script>
